.vscode
.DS_Store
venv

output/**/*.*
!output/lab1/1.1-red.png
!output/lab1/1.1-green.png
!output/lab1/1.1-blue.png
!output/lab1/1.1-red.png
!output/lab1/1.1-green.png
!output/lab1/1.1-blue.png
!output/lab1/1.2-lightness.png
!output/lab1/1.3-inverted.png
!output/lab1/2.1-interpolated.png
!output/lab1/2.2-decimated.png
!output/lab1/2.3-resized-2-steps.png
!output/lab1/2.4-resized.png
!output/lab2/1-cartoon.png
!output/lab2/2-cartoon.png
!output/lab2/1-fingerprint.png
!output/lab2/2-fingerprint.png
!output/lab2/1-khachapuri.png
!output/lab2/2-khachapuri.png
!output/lab2/1-map.png
!output/lab2/2-map.png
!output/lab2/1-page.png
!output/lab2/2-page.png
!output/lab2/1-xray.png
!output/lab2/2-xray.png
!output/lab3/original-salt-pepper-noise.png
!output/lab3/filtered-salt-pepper-noise.png
!output/lab3/difference-salt-pepper-noise.png
!output/lab3/original-2-cartoon.png
!output/lab3/filtered-2-cartoon.png
!output/lab3/difference-2-cartoon.png
!output/lab3/original-2-fingerprint.png
!output/lab3/filtered-2-fingerprint.png
!output/lab3/difference-2-fingerprint.png
!output/lab3/original-2-khachapuri.png
!output/lab3/filtered-2-khachapuri.png
!output/lab3/difference-2-khachapuri.png
!output/lab3/original-2-map.png
!output/lab3/filtered-2-map.png
!output/lab3/difference-2-map.png
!output/lab3/original-2-page.png
!output/lab3/filtered-2-page.png
!output/lab3/difference-2-page.png
!output/lab3/original-2-xray.png
!output/lab3/filtered-2-xray.png
!output/lab3/difference-2-xray.png
!output/lab4/Gx-cartoon.png
!output/lab4/Gy-cartoon.png
!output/lab4/G-cartoon.png
!output/lab4/Bin-cartoon.png
!output/lab4/Gx-page.png
!output/lab4/Gy-page.png
!output/lab4/G-page.png
!output/lab4/Bin-page.png
!output/lab5/features.csv
!output/lab5/horKAAF.png
!output/lab5/verKAAF.png
!output/lab5/horO.png
!output/lab5/verO.png
!output/lab5/horCAYN.png
!output/lab5/verCAYN.png
!output/lab6/horizontal-line.png
!output/lab6/vertical-line.png
!output/lab6/segmented.png
!output/lab6/letter-1.png
!output/lab6/horizontal-letter-1.png
!output/lab6/vertical-letter-1.png
!output/lab6/letter-2.png
!output/lab6/horizontal-letter-2.png
!output/lab6/vertical-letter-2.png
!output/lab6/letter-6.png
!output/lab6/horizontal-letter-6.png
!output/lab6/vertical-letter-6.png
!output/lab6/letter-8.png
!output/lab6/horizontal-letter-8.png
!output/lab6/vertical-letter-8.png
!output/lab8/halftone-texture-1.png
!output/lab8/lightness-texture-1.png
!output/lab8/histogram-halftone-texture-1.png
!output/lab8/histogram-lightness-texture-1.png
!output/lab8/histogram-hog-halftone-texture-1.png
!output/lab8/histogram-hog-lightness-texture-1.png
!output/lab8/histogram-hog-halftone-norm-texture-1.png
!output/lab8/histogram-hog-lightness-norm-texture-1.png
!output/lab8/halftone-texture-2.png
!output/lab8/lightness-texture-2.png
!output/lab8/histogram-halftone-texture-2.png
!output/lab8/histogram-lightness-texture-2.png
!output/lab8/histogram-hog-halftone-texture-2.png
!output/lab8/histogram-hog-lightness-texture-2.png
!output/lab8/histogram-hog-halftone-norm-texture-2.png
!output/lab8/histogram-hog-lightness-norm-texture-2.png
!output/lab9/original_spectrogram.png
!output/lab9/denoised_wiener_spectrogram.png
!output/lab9/denoised_savgol_spectrogram.png
!output/lab9/denoised_lowpass_spectrogram.png
!output/lab9/restored.wav
!output/lab9/energy_peaks.png
!output/lab10/spec_A.png
!output/lab10/spec_I.png
!output/lab10/spec_Bark.png